# Idea / PyCharm
.idea/

# files from the mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
*.egg-info/

# Project dependant
output/
*.log
